/* Generelt styling på siden*/
body {
    max-width: 1500px;
}

h1 {
    font-family: "zeitung", sans-serif;
    font-weight: 900;
    font-style: normal;
}

h2 {
    font-family: "zeitung", sans-serif;
    font-weight: 900;
    font-style: normal;
}

p {
    font-family: "sofia-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* Marias Reol*/
.reol {
    background: rgba(176, 153, 125, .5);
    display: flex;
    justify-content: space-between;
    padding: 15px 80px 0px 80px;
}

.tekst-reol {
    text-align: center;
}

.reolen {
    width: 400px;
    margin-right: 150px;
    margin-top: 20px;
}


/*Billede med parallax effekt*/
.parallax {
     background-image: url("/image/parallaxbillede.jpg");
     min-height: 768px;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;     
}

.overskrift-parallax {
     text-align: center;
     padding-top: 40%;
}
 
/*Animation om aflæggere*/
.animation {
     height: 768px;
     text-align: center;
}
