/* Generelt styling på siden*/
body {
    /*max-width: 1500px;*/
}

h1 {
    font-family: "zeitung", sans-serif;
    font-weight: 900;
    font-style: normal;
}

h2 {
    font-family: "zeitung", sans-serif;
    font-weight: 900;
    font-style: normal;
}
li {
    font-family: "sofia-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
}

p {
    font-family: "sofia-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/*Video*/
#video h1 {
	position: absolute;
	top: 58%;
	left: 5%;
	z-index: 1;
    color: #95ab8b;
    text-shadow: 4px 3.5px #3a5439;  
    font-size: 70px;
}

.overskrift-video  {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s, transform 1s;
}

.overskrift-video.slide-in {
    opacity: 1;
    transform: translateX(0);
  }
  

#video-container {
    display: block;
    position: relative;
    width: 100%;
    height: 801px;
    margin-top: -8px;
}

/* Marias Reol*/
.reol {
    background: rgba(176, 153, 125, .5);
    display: flex;
    justify-content: space-between;
    padding: 20px 80px 30px 80px;
    box-shadow: 0px 0px 10px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.tekst-reol {
    text-align: left;
    margin-right: 80px;
    margin-left: 30px;
}

.tekst-reol h2 {
    font-size: 60px;
    color: #68855c;
    text-shadow: 4px 3.5px #3a5439;    
}

.overskrift-reol  {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s, transform 1s;
}

.overskrift-reol.slide-in {
    opacity: 1;
    transform: translateX(0);
  }

.tekst-reol p{
    font-size: 20px;
}

.tekst-reol li {
    list-style-type: none;
    font-size: 20px;
}

.billede-reol img {
    width: 62%;
    margin-right: 5%;
    margin-top: 5%;
    margin-left: 6%;
}

#popup {
    display: none;
    position: absolute;
    margin-left: 46%;
    margin-top: 7%;
} 

.close {
    position: absolute;
    margin-left: 15px;
    margin-top: 3px;
    font-size: 30px;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

.billede-reol a {
    position: relative;
    display: block;
    background-color: transparent;
  }
  
  
  .billede-reol a.plante1 {
    top: -91%;
    left: 0%;
    width: 24%;
    height: 29%;
  }
  
  .billede-reol a.plante2 {
    top: -115%;
    left: 24.5%;
    width: 18%;
    height: 15%;
  }
  
  .billede-reol a.plante3 {
    top: -87%;
    left: 42%;
    width: 31%;
    height: 37.5%;
  }  

/*Billede med parallax effekt*/
.parallax {
     background-image: url("/image/parallaxbillede.jpg");
     min-height: 768px;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;     
}

.overskrift-parallax {
     text-align: center;
     padding-top: 25%;
     font-size: 75px;
     color: #95ab8b;
     text-shadow: 4px 3.5px #3a5439;    
}

/*Animation om aflæggere*/
.animation {
     height: 768px;
     text-align: center;
}
/*afslutning - Maria ----------------------*/

.maria {
    background: rgba(176, 153, 125, .5);
    box-shadow: 0px 0px 10px;
    display: flex;
    justify-content: space-between;
    padding: 5px 80px 20px 80px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.overskrift-maria{
    text-align: left;
    font-size: 60px;
    color: #68855c;
    text-shadow: 4px 3.5px #3a5439;  
}

.overskrift-maria  {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s, transform 1s;
}

.overskrift-maria.slide-in {
    opacity: 1;
    transform: translateX(0);
  }

.citat-maria {
    font-style: italic;
    font-size: 20px;
}

.brødtekst-maria { 
    padding-bottom: 3%;
    font-size: 20px;
}
.portrat-maria {
    width: 400px;
    margin-right: 100px;
    margin-top: 110px;
}
.section-wrapper{
    text-align: left;
    margin-right: 80px;
    margin-left: 30px;
}
